{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "modules": "commonjs",
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
